# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcuserstate
DerivedData/
*.ipa
*.xcarchive
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# Swift Package Manager
.build/
*.resolved
